/*  This is comment */
*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

body{
    background-color:aqua, purple,orange;
    background-color:rgb(240, 200)
}

header{
    background-color : #f4f4f4;
    padding : 15px 0;
}
nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content: space-botton;
    align-items:center;
}

.logo{
      color:#fff;
}

nav ul{
    display: flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}
nav ul li a{
    color:aqua;
    text-decoration-color: none;
    font-size:18px
}

nav ul li a: hover{
    color: aqua;
}
hero{
    width:90%
    margin :auto;
    min-height: 80vh;
    display:flex;
    justify-content: space-between;
    align-self: start;
}

her-text h1{
    font: size 50px;
    margin-bottom: 15px;
}
hero-text h3{
    color: #00bcd4;
    margin-bottom: 15px;
}

.hero-text p{
    color:
}
.btn{
    background-color: #00bcd4;
    color:  #fff;
    padding: 12px 25px;
    text-decoration: none;
    font-size:18px;
    border-radius:5px;
}
.btn:hover{
    background-color:#0097a7 ;
}
.hero-img{
    width:100;
    border: radius 50%;
}
footer{
    background-color: #665353;
    color: #fff;
    text-align: center;
    padding:20px 0;
    margin-top: 40px;
}